@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-gold: #EFBF04;
  --color-silver: #C0C0C0;
  --color-bronze: #CE8946;
}

@theme {
  --color-gold: #EFBF04;
  --color-silver: #C0C0C0;
  --color-bronze: #CE8946;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Roboto, Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a1a1a1;
}
